.bar {
    // padding: 10px 50px 10px 30px;
}

// .example-radio-group {
//     display: flex;
//     flex-direction: column;
//     margin: 15px 0;
//   }
  
//   .example-radio-button {
//     margin: 10px;
//     border-color:black;
//   }

//   .mat-radio-container .mat-radio-outer-circle {
//     border-color:black;
// }


.toelichting {
    font-style: italic;
    float: right;
    display: block;
    font-size: smaller;
    color: #ccc;
}

mat-card-content {
    padding-bottom: 10px;
}