.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }


mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  &.login {
      z-index: 1;
      mat-card-actions, mat-card-content {
          margin-bottom: 0px;
      }
  }
}

form {
    width: 100%;
    mat-card-content {
        display: flex;
        flex-direction: column;
    
    }
}

.foutmelding {
    color: #ff4081;
    font-weight: 600;
    font-size: 18px;
}