@import '../../settings';

footer {
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    width: 100%;
    height: 70px; 
    background-color: black;
    touch-action: none;
  }

  .toolbar-icon {
    line-height: 0; // Set to zero or will affect spacing between icon and text
    mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
    }
}
  
  .toolbar-icon-text {
    line-height: 1.8; // Proper spacing between icon and text
    font-size: 90%; // Smaller text size for proper display under icon
  }
  
  .active-menu-item {
     color: mat-color($samsam-primary, lighter);
  }

  mat-toolbar {
    background-color: black;
    height: 70px;
  }

  .toolbar-content {
    margin-bottom: 20px;
  }