

mat-card.graph {
    padding: 10px 0px;
    mat-card-title {
        font-size: 20px;
        padding: 0px 10px;
    }
}



#chart {
    margin: 2px auto;
    // height: 400px;
    padding: 0;
  }



mat-card-content.artwork {
    display: flex;
    img {
        height: 40vw;
        margin: auto;
    }
}